{% extends "base.html" %}
{% block brand_name %}Configuration Records{% endblock %}
{% load static %}

{% block content %}
<!-- Page Content -->
<main class="p-4">
  <div class="container-fluid">
    <table class="table table-striped table-bordered" id="configTable" data-sortable-filterable="true">
      <thead class="table-dark">
        <tr>
          <th onclick="sortTable(0, 'configTable')"><i class="bi bi-arrow-down-up">File Type <span class="sort-icon"></span></th>
          <th onclick="sortTable(1, 'configTable')"><i class="bi bi-arrow-down-up">Description <span class="sort-icon"></span></th>
          <th onclick="sortTable(2, 'configTable')"><i class="bi bi-arrow-down-up">File Name Type <span class="sort-icon"></span></th>
          <th onclick="sortTable(3, 'configTable')"><i class="bi bi-arrow-down-up">Parser <span class="sort-icon"></span></th>
          <th onclick="sortTable(4, 'configTable')"><i class="bi bi-arrow-down-up">Frequency <span class="sort-icon"></span></th>
        </tr>
        <tr class="table-secondary">
          <th>
            <div class="d-flex">
              <input type="text" class="form-control form-control-sm filter-input me-1" data-col="0" placeholder="Filter Name">
              <button class="btn btn-sm btn-outline-secondary clear-filter-btn" data-col="0">&times;</button>
            </div>
          </th>
          <th>
            <div class="d-flex">
              <input type="text" class="form-control form-control-sm filter-input me-1" data-col="1" placeholder="Filter Contract">
              <button class="btn btn-sm btn-outline-secondary clear-filter-btn" data-col="1">&times;</button>
            </div>
          </th>
          <th>
            <div class="d-flex">
              <input type="text" class="form-control form-control-sm filter-input me-1" data-col="2" placeholder="Filter File Type">
              <button class="btn btn-sm btn-outline-secondary clear-filter-btn" data-col="2">&times;</button>
            </div>
          </th>
          <th>
            <div class="d-flex">
              <input type="text" class="form-control form-control-sm filter-input me-1" data-col="3" placeholder="Filter Parser">
              <button class="btn btn-sm btn-outline-secondary clear-filter-btn" data-col="3">&times;</button>
            </div>
          </th>
          <th>
            <div class="d-flex">
              <input type="text" class="form-control form-control-sm filter-input me-1" data-col="4" placeholder="Filter Frequency">
              <button class="btn btn-sm btn-outline-secondary clear-filter-btn" data-col="4">&times;</button>
            </div>
          </th>
      </tr>
      </thead>
      <tbody>
        {% for contract in contracts %}
        <tr>
          <td><a href="{% url 'show_config' contract.id %}">{{ contract.fileType }}</a></td>
          <td>{{ contract.fullName }}</td>
          <td>{{ contract.sourceFileNamingConvention }}</td>
          <td>{{ contract.parser }}</td>
          <td>{{ contract.frequency }}</td>
          {% comment %} <td>
            <form method="post" action="{% url 'run_config' contract.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-sm btn-success">View</button>
            </form>
          </td> {% endcomment %}
        </tr>
        {% empty %}
        <tr>
          <td colspan="11" class="text-center">No configuration records found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}